<div class="container" *ngIf="estLab">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

        <h1>Editar estudio</h1>

        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="estLab.nombreE" required>

        <label for="apellido">Institucion:</label>
        <input type="text" class="form-control" id="institucionE" name="institucionE" [(ngModel)]="estLab.institucionE"
            required>

        <label for="descripcion">Descripcion:</label>
        <textarea id="descripcionE" class="form-control" name="descripcionE" [(ngModel)]="estLab.descripcionE"
            required></textarea>

        <label for="img">Año de inicio:</label>
        <input type="text" class="form-control" id="inicioE" name="inicioE" [(ngModel)]="estLab.inicioE" required>

        <label for="img">Año de final:</label>
        <input type="text" class="form-control" id="finalE" name="finalE" [(ngModel)]="estLab.finalE" required>

        <br>

        <button type="submit">Editar</button>
    </form>
</div>