<div class="row proyectos">
    <h1>Proyectos Realizados</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" *ngFor="let p of proy">
                <ng-container *ngTemplateOutlet="proyectoTemplate ; context: {$implicit: p}">
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #proyectoTemplate let-p>
    <div class="card mx-auto" style="max-width: 850px; max-height: 250px;">
        <div class="card-horizontal">
            <div class="card-body">
                <h4 class="card-title">{{p.nombre}}</h4>
                <p class="card-text">{{p.descripcion}}</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="p.linkCode" class="btn btn-primary">Codigo</a>
                    <a href="p.linkDemo" class="btn btn-secondary">Pagina</a>
                    <!--
                        <button type="button" class="btn btn-secondary" *ngIf="isAdmin"
                        routerLink="/editHys/{{p.id}}">Editar</button>
                    -->
                    <button type="button" class="btn btn-secondary" *ngIf="isAdmin"
                        (click)="borrarProy(p.id)">Borrar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>