.row {
    background-color: #a1b5cb;
    text-align: center;
    padding: 20px;
}

.contenedor {
    width: auto;
}

.parte1,
.parte2 {
    display: inline-block;
    text-align: justify;
}

.img-proyecto {
    box-shadow: 10px 10px 30px black;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}