<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/html.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/CSS.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/js.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/java.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/C.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/Python.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/eng.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/grupal.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 cpl-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [imageSrc]="'../assets/git.png'" [showImage]="true" [imageHeight]="90" [imageWidth]="90"
            [showSubtitle]="false" [showUnits]="false" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
</div>