<div class="row study">
    <h1 id="Titulo">Estudios</h1>
    <div id="ListaEstudios" class="d-flex">
        <div class="overflow-auto mx-auto" style="height: 400px">
            <div class="card m-2">
                <div class="row g-0" style="max-width: 850px; max-height: 200px;">
                    <div class="col-md-4" style="width: fit-content;">
                        <img src="../../../assets/UNT.jpg" class="img-fluid rounded-start" style="max-height: 200px;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Trabajo 1</h5>
                            <h6 class="card-subtitle">Empresa 1</h6>
                            <p></p>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Inicio - Final</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 850px; max-height: 200px;">
                <div class="row g-0">
                    <div class="col-md-4" style="width: fit-content;">
                        <img src="../../../assets/AP.jpg" style="max-height: 200px;" class="img-fluid rounded-start" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Trabajo 1</h5>
                            <h6 class="card-subtitle">Empresa 1</h6>
                            <p></p>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Inicio - Final</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>