<div class="row study">
    <h1 id="Titulo">Estudios</h1>
    <div id="ListaEstudios" class="d-flex">
        <div class="overflow-auto" style="height: 400px">
            <div class="card m-2" style="max-width: 650px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/UNT.jpg" class="img-fluid rounded-start" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Ingenieria en Computacion</h5>
                            <h6 class="card-subtitle">Universidad Nacional de Tucuman</h6>
                            <p></p>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">2020 - Actualidad</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 650px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/AP.jpg" class="img-fluid rounded-start" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Full Stack Developer</h5>
                            <h6 class="card-subtitle">Argentina Programa 4.0</h6>
                            <p></p>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">2022 - 2023</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>