<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="imgPerfil" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre">German Sancho Miñano</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam, sunt deserunt harum mollitia nemo
            adipisci ad voluptates, unde neque necessitatibus rem repellat recusandae nisi reiciendis fugiat soluta
            reprehenderit nostrum?</p>
    </div>
</div>